body {
    margin: 0;
    background: #f5f5f5;
    }

.layout {
    max-width: 100%;
    margin: auto;
}

header {
    background: pink;
    padding: 15px;
    text-align: center;
}

.main {
    display: flex;
}

.sidebar {
    background: #aef7e5;
    width: 200px;
    padding: 20px;
}

.content {
    flex: 1;
    background: #ffeec2;
    padding: 20px;
}

table {
    margin:auto;
}

.btn-area {
    text-align: right;
}

footer {
    background: #a9a9a9;
    padding: 20px;
}